<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luma.system.mapper.SysRoleMapper">

    <select id="selectRolePage" parameterType="com.luma.system.domain.vo.SysRolePageReq" resultType="com.luma.system.domain.vo.SysRolePageResp" >
        select distinct sr.id, sr.role_name, sr.role_key, sr.sort, sr.data_scope, sr.status, sr.create_time, sr.create_by, sr.update_time, sr.update_by, sr.remark from sys_role sr
        left join sys_user_role sur on sr.id = sur.role_id
        left join sys_user su on sur.user_id = su.id
        where sr.del_flag = false
        <if test="req.roleName != null and req.roleName != ''">
            and sr.role_name = #{req.roleName}
        </if>
        <if test="req.roleKey != null and req.roleKey != ''">
            and sr.role_key = #{req.roleKey}
        </if>
        <if test="req.status != null">
            and sr.status = #{req.status}
        </if>
        <if test="req.startCreateTime != null">
            and sr.create_time >= #{req.startCreateTime}
        </if>
        <if test="req.endCreateTime != null">
            and sr.create_time &lt;= #{req.endCreateTime}
        </if>
        <if test="req.userId != null">
            and su.id = #{req.userId}
        </if>
    </select>

    <select id="selectRoleList" resultType="com.luma.system.domain.vo.SysRoleBaseListResp" >
        select sr.id, sr.sort, sr.role_name, sr.role_key, sr.data_scope, sr.create_time from sys_role sr
        left join sys_user_role sur on sr.id = sur.role_id
        left join sys_user su on sur.user_id = su.id
        where sr.del_flag = false
        and sr.status = 0
        <if test="userId != null">
            and sur.user_id = #{userId}
        </if>
        group by sr.id, sr.sort, sr.role_name, sr.role_key, sr.data_scope, sr.create_time
        order by sort
    </select>

</mapper>
