<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luma.system.mapper.SysRoleMenuMapper">

    <select id="selectRolePermissionListByRoleId" parameterType="java.lang.Long" resultType="java.lang.String" >
        select sm.perms from sys_menu sm
        inner join sys_role_menu srm on sm.id = srm.menu_id
        where srm.role_id = #{roleId} and sm.perms is not null
    </select>

    <select id="selectMenuListByRoleIds" resultType="com.luma.system.domain.vo.SysMenuListResp" >
        select distinct m.id, m.parent_id, m.name, m.redirect, m.component, m.icon, m.sort, m.title, m.target, m.active, m.type, m.path, m.is_hide, m.is_full, m.is_affix, m.is_keep_alive, m.tag, m.perms from sys_menu m
        inner join sys_role_menu rm on m.id = rm.menu_id
        where rm.role_id in
        <foreach collection="roleIds" item="roleId" separator="," open="(" close=")" >
            #{roleId}
        </foreach>
    </select>

</mapper>
