<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luma.system.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.luma.system.domain.entity.SysUserRole">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectRoleDataScopeInfoListByUserId" parameterType="java.lang.Long" resultType="com.luma.common.domain.SysRoleDataScopeInfo" >
        select sr.id, sr.role_key, sr.data_scope from sys_role sr
        inner join sys_user_role sur on sr.id = sur.role_id
        where sur.user_id = #{userId}
          and sr.del_flag = false
          and sr.status = 0
    </select>

</mapper>
