<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luma.system.mapper.SysUserMapper">

    <select id="selectUserPage" parameterType="com.luma.system.domain.vo.SysUserPageReq" resultType="com.luma.system.domain.vo.SysUserPageResp" >
        select distinct u.id, u.dept_id, u.login_name, u.username, u.user_type, u.email, u.phone, u.sex, u.avatar, u.status, u.login_ip, u.login_date, u.create_time, u.create_by, u.update_time, u.update_by
        from sys_user u
        inner join sys_dept d on u.dept_id = d.id
        left join sys_user_role ur on ur.user_id = u.id
        where u.del_flag = false
        <if test="req.deptId != null">
            and d.id IN ( SELECT id FROM sys_dept WHERE id = #{req.deptId} or find_in_set( #{req.deptId} , ancestors ) )
        </if>
        <if test="req.status != null">
            and u.status = #{req.status}
        </if>
        <if test="req.loginName != null and req.loginName != ''">
            and u.login_name like concat('%', #{req.loginName}, '%')
        </if>
        <if test="req.phone != null and req.phone != ''">
            and u.phone like concat('%', #{req.phone}, '%')
        </if>
        <if test="req.startCreateTime != null">
            and u.create_time >= #{req.startCreateTime}
        </if>
        <if test="req.endCreateTime != null">
            and u.create_time &lt;= #{req.endCreateTime}
        </if>
        <if test="req.roleId != null">
            and ur.role_id = #{req.roleId}
        </if>
    </select>

    <select id="selectUserinfo" parameterType="java.lang.Long" resultType="com.luma.system.domain.vo.SysUserInfoResp" >
        select u.id, u.login_name, u.username, u.user_type, u.email, u.phone, u.sex, u.avatar, u.status, u.dept_id, u.tenant_id, d.dept_name from sys_user u
        inner join sys_dept d on u.dept_id = d.id
        where u.id = #{id}
    </select>

</mapper>
